# to ignore a specific file, add the file name and path to the .gitignore file
/.vscode
/.idea

# add a note to ignore full size guetschow scen data later
.ipynb_checkpoints
.empty

# Ignore all the files containing the following strings 
*__pycache__*
*ipynb_checkpoints*
*.out
